.header{
    width:"150%";
    height:58px;
    background-color: rgb(37, 23, 127);
    padding-top: 40px;
    background-image: url('images/images (2).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    margin: 0;
}
.cm{
    font-size:xx-large;
    text-decoration: none;
    color: darkgoldenrod;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#h{
    font-size:x-large;
    text-decoration: none;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#i{
    float-right;
    padding-left: 640px;
}
#h{
    float-right;
    padding-left: 10px;
    padding-right: 10px;
}
#u{

        float-right;
        padding-right :10px;
        padding-left: 4px;
    }
