*{
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
   
   
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 70vh;
    background-image: url('images/ak.png');
}
.wrapper{
    width: 420px;
    background: rgb(19, 19, 19);
    color: #0e0d0e;
    border-radius: 10px;
    padding: 30%;
    
    
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    background-color: rgb(236, 231, 231);
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline:none;
    border: 129px solid hsla(0, 6%, 93%, 0.947);
    border-radius: 400px;
    font-size: 16px;
  
    padding: 20px;
    box-shadow: -12px -11px 199px;
}
.input-box input::placeholder{
    color: #ffffff;
}
.input-box 1{
    position: absolute;
    right:20px;
    top:50%
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 1 15px;
}
.remember-forgot label input{
    accont-color: #fff;
    margin-right: 3px;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 70%;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 40px;
    box-shadow: 0 20px 20px rgba(244, 243, 243, 0.1);
    cursor:pointer;
    font-size: 16px;
    color: #0e0e0e;
    font-weight: 600px;
   

}
.wrapper .register-link{
    font-size: 14.9px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a {
    color: #040303;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
   text-decoration:underline;

}
